.message-board{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 528px;
    background-color: rgb(209, 209, 209);
    overflow-y: scroll;
}

.message-input{
  width: 500px;
  height: 80px;
}
