.patient-info{
    display: flex;
    flex-direction: column;
    grid-gap: 16px;
    width: 400px;

}

.infos{
    display: flex;
    flex-direction: column;
    grid-gap: 8px;
}

.info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}