header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    padding: 12px 16px;
    background-color: black;
    flex-wrap: wrap;
}

.app-title{
    display: flex;
    flex-direction: row;
    gap: 8px;
    text-align: center;
    align-items: center;
}

h1{
    color: white;
    font-weight: 400;
}

p{
    color: white;
}

.tab-nav{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    padding-right: 100px;
}

a{
    color: white;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}

.nav-divider{
    height: 2px;
    background-color: black;
    margin-left: 20px;
    margin-bottom: 20px;
}

.activeLink{
    color: rgb(18, 134, 163);
    font-weight: 600;
}

.operador{
    display: flex;
    align-items: center;
}

img{
    width: 40px;
    height: 40px;
}