.messages-container{
    display: flex;
    flex-direction: column;
    grid-gap: 32px;
    padding-left: 40px;
    flex: 1 1;
}

.messages-section{
    display: flex;
    flex-direction: column;
    grid-gap: 8px;
}

.hor-divider{
    height: 2px;
    width: 278px;
    background-color: black;
}

.messages-split-section{
    display: flex;
    flex-direction: row;
    grid-gap: 21px;
}

.message-board-split-section{
    display: flex;
    flex-direction: row;
    grid-gap: 21px;
    border: solid gray 1px;
    border-radius: 6px;
    width: 1120px;
    padding-top: 10px;
    padding-bottom: 10px;
}

h1{
    font-weight: 600;
    font-size: 16px;
    color: rgb(18, 134, 163);
}

.container{
    display: flex;
    flex-direction: row;
    grid-gap: 16px;
}

.ver-divider{
    width: 2px;
    height: 600px;
    background-color: rgb(192, 192, 192);
    margin-top: 28px;
}

.double-messages{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: solid gray 1px;
    border-radius: 6px;
}
