.messages-container{
    display: flex;
    flex-direction: column;
    grid-gap: 32px;
}

.messages-section{
    display: flex;
    flex-direction: column;
}

.messages-split-section{
    display: flex;
    flex-direction: row;
    grid-gap: 21px;
}

