.card-list{
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
    border-radius: 6px;
    padding: 24px;
    width: 400px;
    max-height: 800px;
    overflow-y: auto;
}

.hasBorder{
    border: solid gray 1px;
}