.queue-column{
    display: flex;
    flex-direction: column;
    width: 400px;
}

.cards{
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
    padding-left: 10px;
    margin-top: 20px;
}

h1{
    font-weight: 400;
}

.hor-divider{
    height: 2px;
    width: 400px;
    background-color: black;
}
