.card{
    background-color: white;
    padding: 0 8px 12px 8px;
    height: 100px;
    box-shadow: 0 12px 10px -6px gray;
    align-content: center;
}

.date-info{
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;
    color: #7C7C7C;
}

.patient-info{
    display: flex;
    flex-direction: row;
    grid-gap: 12px;
}

img{
    width: 42px;
    height: 42px;
    border-radius: 100px;
}

.last-message{
    color: #7C7C7C;
}

.patient-name{
    font-size: 20px;
    font-weight: 400;
}

.card-type{
    display: flex;
    width: fit-content;
    padding: 0 10px 0px 10px;
    height: 20px;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 20px;
    right: 16px;
    color: white;
    font-size: 12px;
}

.SCHEDULE{
    background-color: #54ACAF;
}

.BROAD_QUESTION{
    background-color: #E69F4E;
}

.RE_SCHEDULE{
    background-color: #5474AF;
}

.INSURANCE{
    background-color: #54AF62;
}

.NOT_DEFINED{
    background-color: #7C7C7C;
}